Repository omar-dulaimi/trpc-shield: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: remove prisma-trpc-shield-generator from example
  example/prisma/schema.prisma
Due: none

refactor: remove generated shield file from example
  example/prisma/shield/shield.ts
Due: eslint --fix, prettier --write

feat: update main library dependencies to latest versions
  package-lock.json
  package.json
Due: prettier --write

fix: regenerate package-lock.json files for CI consistency
  example/package-lock.json
  package-lock.json
Due: prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e8858def103db5c946f832238a50bca4a7727d8
Due: none

fix: honor allowExternalErrors option
  src/generator.ts
  test/integration.test.ts
  test/shield.test.ts
Due: eslint --fix, prettier --write

chore: switch repo tooling to pnpm
  CLAUDE.md
  README.md
  eslint.config.js
  package.json
  package.sh
  pnpm-workspace.yaml
  tsconfig.json
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: sync github workflows
  .github/WORKFLOWS.md
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  package-lock.json
Due: prettier --write

chore: add pnpm lockfiles
  .gitignore
  example/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

ci: update workflows to use pnpm instead of npm
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

ci: use pnpm version from packageManager field
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore: sync pnpm lockfile with package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add workspace root flag for pnpm in release workflow
  .github/workflows/release.yml
Due: prettier --write

ci: fix distribution zip to use lib/ instead of dist/
  .github/workflows/release.yml
Due: prettier --write

ci: update to Node.js 22 for semantic-release compatibility
  .github/workflows/release.yml
Due: prettier --write

feat: migrate CI/CD to pnpm and update Node.js requirements
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0f0af840e9440bc23e41f44c59f8530ce31e13fe
Due: none

fix(ci): remove unsupported --dry-run flag from pnpm pack
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4f02ce4b53eef9d8db65a01a1b5408a284192fad
Due: none

chore: upgrade to typescript7
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: allow deeply nested routers
  src/generator.ts
  test/shield.test.ts
Due: eslint --fix, prettier --write

fix: remove unnecessary build approvals
  pnpm-workspace.yaml
Due: prettier --write

refactor: correctly handle if the route is undefined
  src/generator.ts
  test/shield.test.ts
Due: eslint --fix, prettier --write

fix: remove unnecessary paths parameter
  tsconfig.json
Due: prettier --write

ci: publish by OIDC, and stop the release swallowing a lint failure
  .github/workflows/release.yml
  src/utils.ts
Due: eslint --fix, prettier --write

fix: apply subscription rules, which were silently ignored
  .github/workflows/ci.yml
  src/generator.ts
  test/rule-resolution.test.ts
Due: eslint --fix, prettier --write

fix(breaking): apply bare rule trees, and refuse trees that resolve to nothing
  src/generator.ts
  src/validation.ts
  test/rule-resolution.test.ts
  test/rule-tree-shape.test.ts
Due: eslint --fix, prettier --write

build: hold TypeScript at 5.9 until typescript-eslint supports 7
  package.json
  pnpm-lock.yaml
  test/rule-tree-shape.test.ts
Due: eslint --fix, prettier --write

ci: test on supported Node, and stop masking release failures
  .github/workflows/ci.yml
  .releaserc.json
Due: prettier --write

ci: finish moving off Node 20, and stop swallowing lint failures
  .github/workflows/ci.yml
Due: prettier --write

fix: make the published package loadable again
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  CLAUDE.md
  README.md
  eslint.config.mjs
  package.json
  prettier.config.mjs
  scripts/build-esm-marker.mjs
  scripts/check-package.mjs
  src/constructors.ts
  src/generator.ts
  src/index.ts
  src/rules.ts
  src/shield.ts
  src/utils.ts
  src/validation.ts
  tsconfig.esm.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  65bcb2b4a0c6404dfdee998e95ad6a3ae0a3b188
Due: none

docs: correct the version compatibility table
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,yml,yaml,md})
