Repository omar-dulaimi/trpc-shield: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: update documentation for tRPC v11 and development setup
  CLAUDE.md
  README.md
Due: prettier --write

feat: configure semantic-release for automated versioning
  .releaserc.json
Due: prettier --write

style: apply code formatting and ES module configuration
  prettier.config.js
  src/constructors.ts
  src/index.ts
  src/rules.ts
  src/utils.ts
  src/validation.ts
Due: eslint --fix, prettier --write

feat: add tRPC context extension support
  README.md
  src/generator.ts
  src/rules.ts
  src/types.ts
  test/context-extension.test.ts
Due: eslint --fix, prettier --write

ci: add GitHub workflows for automated testing and releases
  .commitlintrc.json
  .github/README.md
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .lintstagedrc
  .releaserc.json
  package.json
Due: prettier --write

refactor: improve GitHub workflows following industry best practices
  .github/README.md
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/semantic-release.yml
Due: prettier --write

refactor: streamline to essential workflows only
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/semantic-release.yml
Due: prettier --write

fix: update package-lock.json to sync with new dependencies
  package-lock.json
Due: prettier --write

fix: resolve TypeScript type compatibility issues in context extension
  src/constructors.ts
  src/shield.ts
  src/validation.ts
Due: eslint --fix, prettier --write

chore: bump version to 1.0.0-beta.1 for tRPC v11 release
  package.json
Due: prettier --write

chore(release): 1.0.0-beta.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

chore: remove buy me a coffee references
  .github/FUNDING.yml
  README.md
Due: prettier --write

docs: comprehensive README overhaul with modern structure
  README.md
Due: prettier --write

chore: bump version to 1.0.0-beta.2
  package.json
Due: prettier --write

chore(release): 1.0.0-beta.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade to tRPC v11 with context extension support (#26)
  .commitlintrc.json
  .github/FUNDING.yml
  .github/README.md
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .gitignore
  .releaserc.json
  CHANGELOG.md
  CLAUDE.md
  README.md
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.js
  src/constructors.ts
  src/generator.ts
  src/index.ts
  src/rules.ts
  src/shield.ts
  src/types.ts
  src/utils.ts
  src/validation.ts
  test/__helpers__/rules.ts
  test/__helpers__/setup.ts
  test/constructors.test.ts
  test/context-extension.test.ts
  test/integration.test.ts
  test/rules.test.ts
  test/shield.test.ts
  test/validation.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: force GitHub README refresh
  README.md
Due: prettier --write

fix: resolve GitHub README priority conflict
  .github/WORKFLOWS.md
Due: prettier --write

docs: add beta testing section for v1.0.0-beta.0
  README.md
Due: prettier --write

docs: add sponsorship support section to README
  README.md
Due: prettier --write

docs: reorder README sections for better flow
  README.md
Due: prettier --write

setup: add Husky commit hook to prevent attribution
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier --write

fix: improve commit hook error messages and validation
  .husky/commit-msg
Due: none

chore: update all dependencies to latest versions
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix: allow ESLint warnings in release workflow
  .github/workflows/release.yml
Due: prettier --write

fix: disable git plugin in semantic-release to avoid protected branch conflicts
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  64fc9def86b916958aca552ce957cd873dc8b5ad
Due: none

feat: switch to semantic-release bot approach for releases
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

fix: disable git plugin again due to protected branch restrictions
  .releaserc.json
Due: prettier --write

feat: re-enable git plugin now that branch protection is disabled
  .releaserc.json
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a630829fca7ad9be7f88ed4557c5666b75850e8b
Due: none

feat: provide zipped distribution assets in GitHub releases
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ad90a552312a586e94078ffc3e7bc75a7228c85a
Due: none

feat: upgrade to tRPC v11 and update dependencies
  example/package-lock.json
  example/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,yml,yaml,md})
